<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
        function ajaxQuery() {

        }
        $(document).ready(function () {
            $("td").click(function () {
                if (!$(".input")[0] && $(this).attr('class') !== "pWarehouse") {
                    var rowValue = $(this).text();
                    var rowColName = $(this).attr('class');
                    $(this).html("")
                        .append("<input class='input' id='" + rowColName + "' type = 'text' > ");
                    $(".input").val(rowValue);
                    $(".input").focus();
                    //$(this).parent().addClass("is-selected");
                    $(this).parent().children().last().html("")
                        .append("<a class ='button is-dark save'>Save</a>");
                }
                $(document).on('click', '.save', function () {
                    var changedVal = $(".input").val();
                    var modifiedProduct = {};
                    modifiedProduct.columnName = $(".input").attr('id');
                    modifiedProduct.productId = $(this).parent().parent().attr('id');             
                    modifiedProduct.value = changedVal;
                    modifiedProduct.productMagName =
                        $("#" + modifiedProduct.productId + " > .pWarehouse")
                            .text();
                    $.ajax({
                        url: '@Url.Action("ProductUpdate", "Home")', 
                        type: 'PUT',
                        data: modifiedProduct,
                        success: function () {
                            /*$("#" + modifiedProduct.productId).children().last().html("")
                                .append("<a class='delete is-medium'></a>");
                            $(".input").parent().html(changedVal);*/
                            location.reload();
                        }
                    });
                });
                $(document).on('click', '.delete', function () {
                    var productId = $(this).parent().parent().attr('id');
                    $.ajax({
                        url: '@Url.Action("ProductDelete", "Home")', 
                        type: 'DELETE',
                        data: productId,
                        success: function () {
                            location.reload();
                        },
                        error: function (msg) {
                            alert(msg.responseText);
                        }
                    });
                });
            });
            
        });
    </script>
</head>
<body>
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">Products Management</h1>
                <h2 class="subtitle has-text-centered">Web version</h2>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li id="menu1"><a asp-action="Index">Modify products</a></li>
                        <li id="menu2"><a asp-action="ProductCreation">Add new product</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <section class="section">
        <div class="container">
            @RenderBody()
        </div>
    </section>
</body>
</html>